/*global*/
/*affects entire page*/
body{
    font-family: arial;
}
h1{
    text-align: center;
}
p{
    line-height: 1.5;
}
img{
    max-width: 100%;
}
/*utilities*/
/*these are devices?*/
.btn_bl{
    display: inline-block;
    background-color: black;
    color:white;
    padding:10px;
    margin-bottom:20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn_brn{
    display: inline-block;
    background-color: brown;
    color:white;
    padding:10px;
    margin-bottom:20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}

.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

/*header*/
/*style lines for header*/
.header-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header1 {
    background-image: url(img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
}
.menu a{
    color:white;
    text-decoration: none;
    margin-right: 10px;
}
/*main*/
/*affects "main" tag*/

.main-flex{
    display: flex;
    flex-direction: row;
    
}
.blog{
    width: 60%;
    margin-right: 10px;
}
.courses{
    width: 40%;
}
.about{
    display: flex;
    flex-direction: row;    
}

.title{
    text-align: center;
}
.column{
    float: left;
    width: 50%;
}

.row:after{
    content: "";
    display: table;
    clear:both;
    
    
}